
* {

    box-sizing: border-box;
    scroll-behavior: smooth;
    
}

.bod{
    background: #cccccc;
}

/* background-image: url("../img/mi.png"); */
.headernav{
   width: 80%;
   height: 38rem;
   background-color: #f7e5d7;
   margin: auto;
   position: relative;
 
}

.nav{
   
   display: flex;
   flex-direction: row ;
   float: left;
   padding: 5px;
}

.navItem{
   
    margin-top: 20px;
    padding: 20px;
   
}
.item{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
    
}

.imgPerfil{
    float: right;
    margin-top: 100px;
    margin-right: 10%;
}

.presentacion{
    display: flex;
    float: left;
    margin-left: 5%;
    color: white;
}
.cv{
    height: 30rem;
    width: 60%;
    background-color:#605e5e;
    margin: auto;
    position: relative;
    top: -150px;
    z-index: 1;
}
.text{
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    
}

.btn-cv{
    width: 15rem;
    height: 3rem;
    position: absolute;
    bottom: 4rem;
    left: 34%;
    border: solid 1px rgba(0,214,70,255)
}
.link-cv{
    text-decoration: none;
    color: white;
    position: absolute;
    left: 1.5rem;
    bottom: 0.9rem;
}

.exp{
    width: 70%;
    height: 50rem;
    background: #232323;
    position: relative;
    margin: auto;
    top: -480px
}
.expHeader{
    position: absolute;
    bottom: 24rem;
    left: 28%;
    color: white;

}
.expHeader h2{
    font-weight: 900;
    font-size: 45px;
}
.experiencia1{
    position: absolute;
    bottom: 12rem;
    left: 12%;


}
.experiencia2{
    position: absolute;
    bottom: 12rem;
    left: 40%;
}
.experiencia3{
    position: absolute;
    bottom: 12rem;
    left: 72%;
}
.experiencia4{
    position: absolute;
    bottom: 2rem;
    left: 12%;
}
.experiencia5{
    position: absolute;
    bottom: 2rem;
    left: 40%;
}
.experiencia6{
    position: absolute;
    bottom: 2rem;
   left: 72%;
}
.anio{
color: rgba(0,214,70,255);
}
.lugar{
    color: white;

}
.cargo{
color: white;
}
.separador{
    position: relative;
    width: 100%;
    height: 5rem;
    background:#605e5e;
    bottom: 30rem;
    z-index: 1;
}
.proyectos{
    width: 70%;
    height: 50rem;
    background: #232323;
    position: relative;
    margin: auto;
    bottom: 30rem;

}
.expHeader2{
    position: absolute;
    bottom: 44rem;
    left: 28%;
    color: white;
}
.expHeader2 h2{
    font-weight: 900;
    font-size: 45px;
}

.cedi{
    position: absolute;
    top: 10rem;
    left: 3%;
}
.cedi h4{
    color: white;
    font-size: 20px;
}
.cedi img{
    width: 22rem;
    height: 10rem;
}

.radio{
    position: absolute;
    left: 60%;
    top: 10rem

}
.radio h4{
    color: white;
    font-size: 20px;
}
.radio img{
    width: 22rem;
    height: 10rem;
}
.revista{
    position: absolute;
    top: 27rem;
    left: 3%;

}
.revista h4{
    color: white;
    font-size: 20px;

}
.revista img{
    width: 22rem;
    height: 10rem;
    
}
.unc{
    position: absolute;
    left: 60%;
    top: 27rem
}
.unc h4{
    color: white;
    font-size: 20px;
}
.unc img{
    width: 22rem;
    height: 10rem;
}
.pie{
    width: 100%;
    height: 20rem;
    position: relative;
    background: #a0a09f;
    bottom: 32rem;
}
.contPie{
    position: absolute;
    width: 65%;
    height: 15rem;
    background: #333b50;
    left: 17.5%;
    top: 1.5rem
}
.contPie h2{
    color: white;
    position: absolute;
    top: 1rem;
    left: 2rem;
}
.contPie a img{
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    margin-top: 6rem;
    margin-left: 10%;
}
#insta{
    margin-left: 13%;
}